@page "/"

<h1>Rock, Paper and Scissors</h1>

<button>Play again</button>

<div style="display: flex; justify-content: center; margin-bottom:20px;">
    <img src="./paper.jpg" class="image" />
</div>

<div style="display: flex; justify-content: center;">
    <img src="./paper.jpg" class="image selectable-image" />
    <img src="./rock.jpg" class="image selectable-image" />
    <img src="./scissors.jpg" class="image selectable-image" />
</div>